.location__here{
    display: flex;
    align-items: center;
    padding-top: 300px;
    gap: 12px;
    margin-bottom: 80px;
    p{
        color: var(--Text2, #000);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px; 
        opacity: 0.5;
    }
    h1{
        color: var(--Text2, #000);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px; 
    }
}
.gamepad{
    display: flex;
    margin-bottom: 140px;
    gap: 30px;
    &__left{
        &_box:nth-child(1){
            display: flex;
            width: 170px;
            height: 138px;
            padding: 12px 25px 12px 24px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: var(--Secondary, #F5F5F5);
            margin-bottom: 16px;
        }
        &_box:nth-child(2){
            display: flex;
            width: 170px;
            height: 138px;
            padding: 20px 29px 21px 29px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: var(--Secondary, #F5F5F5);
             margin-bottom: 16px;
        }

        &_box:nth-child(3){
            display: flex;
            width: 170px;
            height: 138px;
            padding: 22px 18px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: var(--Secondary, #F5F5F5);
             margin-bottom: 16px;
        }
        &_box:nth-child(4){
            display: flex;
            width: 170px;
            height: 138px;
            padding: 22px 18px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: var(--Secondary, #F5F5F5);
             margin-bottom: 16px;
        }
    }
    &__swiper{
        border-radius: 4px;
        background: var(--Secondary, #F5F5F5);
        display: flex;
        width: 500px;
        padding: 154px 27px 131px 27px;
        flex-direction: column;
        
        
        &__box{
            img{
                position: relative;
            }        
        }
    }
    &__right{
        h1{
            color: var(--Text2, #000);
            font-size: 24px;
            font-weight: 600;
            line-height: 24px; 
            letter-spacing: 0.72px;
        }
        &__box{
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 16px;
            h2{
                padding-top:30px;
                opacity: 0.5;
                color: var(--Text2, #000);
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
            }
            span{
            padding-top: 10px;
                opacity: 0.5;
                background: #000;
                width: 1px;
                height: 16px;
            }
            button{
            padding-top: 5px;
                color: var(--Button1, #0F6);
                font-size: 14px;
                font-weight: 400;
                background-color: transparent;
                border: none;
                line-height: 21px; 
                opacity: 0.6;
            }
        }
        h2{
            color: var(--Text2, #000);
            font-size: 24px;
            font-weight: 400;
            line-height: 24px; 
            letter-spacing: 0.72px;
            margin-bottom: 24px;
        }
        h3{
            width: 373px;
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            padding-bottom: 24px;
            border-bottom: 1px solid;
            margin-bottom: 24px;
        }
        &__color{
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 30px;
            h4{
                color: #000;
                font-size: 20px;
                font-weight: 400;
                line-height: 20px; 
                padding-right: 24px;
                letter-spacing: 0.6px;

            }
        }
        &__size{
            display: flex;
            align-items: center;
            gap: 16px;
            margin-bottom: 24px;
            h5{
                color: #000;
                font-size: 20px;
                font-weight: 400;
                line-height: 20px;
                padding-right: 24px;
                letter-spacing: 0.6px;
            }
            button{
                color: var(--Text2, #000);
                font-size: 14px;
                font-weight: 500;
                line-height: 21px; 
                width: 18px;
                height: 20px;
                flex-shrink: 0;
                display: flex;
                width: 32px;
                height: 32px;
                padding: 6px 7px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.50);
            }
            button:hover{
                color: var(--Text, #FAFAFA);
                font-size: 14px;
                font-weight: 500;
                line-height: 21px; 
                width: 12px;
                height: 20px;
                display: flex;
                width: 32px;
                height: 32px;
                padding: 6px 10px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                background: var(--Secondary-2, #DB4444);
            }
        }
        &__btn{
            display: flex;
            align-items: center;
            button:nth-child(1){

                border-radius: 4px 0px 0px 4px;
                border: 1px solid rgba(0, 0, 0, 0.50);
                display: flex;
                width: 40px;
                height: 44px;
                padding: 10px 8px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

            }
            p{
                color: var(--Text2, #000);
                font-size: 20px;
                font-weight: 500;
                line-height: 28px; 
                border-top: 1px solid rgba(0, 0, 0, 0.50);
                border-bottom: 1px solid rgba(0, 0, 0, 0.50);
                display: flex;
                width: 80px;
                padding: 7px 0px;
                justify-content: center;
                align-items: center;
            }
            .plus{
                margin-right: 16px;
                border-radius: 0px 4px 4px 0px;
                background: var(--Secondary-2, #DB4444);
                width: 41px;
                height: 44px;
                padding: 10px 8px 10px 9px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .bynow{
                display: inline-flex;
                padding: 10px 48px;
                justify-content: center;
                color: var(--Text, #FAFAFA);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                align-items: center;
                gap: 10px;
                border-radius: 4px;
                background: var(--Button2, #DB4444);
                margin-right: 19px;
            }
            .btnimg{
                display: flex;
                width: 40px;
                height: 40px;
                padding: 4px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.50);
            }
        }
        &__text{
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.50);
            width: 399px;
            margin-top: 40px;
            &__inside{
                display: flex;
                align-items: center;
                gap: 16px;
                justify-content: center;
                &__txt{
                    h1{
                        color: #000;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                    p{
                        color: #000;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px; 
                        text-decoration-line: underline;
                        margin-bottom: 16px;
                    }
                }
            }
        }
        &__text1{
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.50);
            width: 399px;
            
            &__inside{
                display: flex;
                align-items: center;
                gap: 16px;
                justify-content: center;
                &__txt{
                    h1{
                        color: #000;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                    }
                    p{
                        color: #000;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px; 
                        
                        margin-bottom: 16px;
                    }
                }
            }
        }

    }
}
