.login{
    display: flex;
    gap: 87px;
    button:nth-child(1){
        display: flex;
        padding: 16px 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        background: var(--Button2, #DB4444);
        color: var(--Text, #FAFAFA);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    button:nth-child(2){
        color: var(--Secondary-2, #DB4444);
        font-size: 16px;
        font-weight: 400;
        background-color: transparent;
        line-height: 24px; 
        border: none;
    }
}